name: Start RDP

on:
  workflow_dispatch:

jobs:
  start-rdp:
    runs-on: ubuntu-latest
    steps:
      - name: Install xrdp
        run: sudo apt-get update && sudo apt-get install -y xrdp xfce4 xfce4-terminal
      - name: Start RDP server
        run: |
          sudo service xrdp start
      - name: Expose via ngrok
        run: |
          curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null
          echo "deb https://ngrok-agent.s3.amazonaws.com/apt stable main" | sudo tee /etc/apt/sources.list.d/ngrok.list
          sudo apt update && sudo apt install ngrok
          ngrok tcp 3389 --authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
